<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="RemoteReaderAssembly" value="Symbol.RFID.SDK.Domain.Reader.dll"/>
    <add key="RemoteReaderService" value="Symbol.RFID.SDK.Domain.Reader.ZetiRfidReader"/>
    
    <add key="RemoteReaderConnectionAssembly" value="Assemblies\Symbol.RFID.SDK.Connectivity.Windows.dll"/>
    <add key="RemoteReaderConnectionService" value="Symbol.RFID.SDK.Connectivity.Windows.SerialPortDeviceConnection"/>

    <add key="RemoteReaderDiscoveryServiceAssembly" value="Assemblies\Symbol.RFID.SDK.Discovery.Windows.dll"/>
    <add key="RemoteReaderDiscoveryService" value="Symbol.RFID.SDK.Discovery.Windows.ReaderWatcherSS"/>

    <add key="RemoteReaderInfrastructureServiceAssembly" value="Symbol.RFID.SDK.Domain.Reader.Infrastructure.dll"/>
    <add key="RemoteReaderInfrastructureService" value="Symbol.RFID.SDK.Domain.Reader.Infrastructure.ZetiRfidReaderAdapter"/>

    <add key="RemoteReaderManagementServiceAssembly" value="Assemblies\Symbol.RFID.SDK.Domain.Reader.Infrastructure.Management.dll"/>
    <add key="RemoteReaderManagementService" value="Symbol.RFID.SDK.Domain.Reader.Infrastructure.Management.RemoteReaderManagementSS"/>

    <add key="ZetiResponseDispatcherAssembly" value="Symbol.RFID.SDK.Domain.Reader.Infrastructure.dll"/>
    <add key="ZetiTagDataDispatcher" value="Symbol.RFID.SDK.Domain.Reader.Infrastructure.ZetiTagDataQueuingDispatcher"/>
   
  </appSettings>
</configuration>